[mysqld_safe]
# socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
# user		= mysql
# pid-file	= /var/run/mysqld/mysqld.pid
# socket	= /var/run/mysqld/mysqld.sock
# port		= 3306
# basedir		= /usr
# datadir		= /var/lib/mysql
# tmpdir		= /tmp
# lc-messages-dir	= /usr/share/mysql
key_buffer_size		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K

skip-external-locking
skip-character-set-client-handshake

character_set_server     = UTF8MB4
character_set_filesystem = UTF8MB4
collation-server         = UTF8MB4
init_connect             = 'SET collation_connection = utf8_general_ci'

# スレッドキャッシュ
# - MySQLはクライアントからの接続ごとにスレッドを生成し，破棄する
# - スレッドをキャッシュしておくことによって，別クライアントからの接続負荷を軽減する
thread_cache_size       = 8

# ログエラーの出力場所
log_error = /var/log/mysql/error.log
# 更新系のログを保存する期間の設定
# binlog_expire_logs_seconds = 10
# バイナリログの最大上限の容量の設定
max_binlog_size   = 100M

## slow query log(実行に一定時間(秒数)以上を要したSQL文をログファイルに出力する)
# - 性能解析に重要・最後にオフにする
slow_query_log
# スロークエリログの場所(あらかじめ作っておく)
slow_query_log_file = slow.log
# log_slow_admin_statements
# log_slow_slave_statements
# 実行に何秒以上かかったSQL文をスロークエリログに記録するかを指定
# - デフォは10秒
# - 速いクエリを減らす
# - https://bit.ly/2Y4yqXm
long_query_time = 0.1

## innodb
# innodb_strict_mode
# InnoDBのデータとインデックスをキャッシュするバッファのサイズ
# - 物理メモリの8割が推奨されている
innodb_buffer_pool_size = 512M

#innodb_data_file_path = ibdata1:10M:autoextend
# - コミットされていないトランザクションのためのバッファサイズ
innodb_log_buffer_size = 16M

# データ二重書き込みによるデータ保護
# - 中途半端にデータが書き込まれた状態になった場合に修復のために利用する
innodb_doublewrite = 0
# innodbでの読み取り操作で使用されるI/Oスレッド数
innodb_read_io_threads = 8
# innodbでの書き込み操作で使用されるI/Oスレッド数
innodb_write_io_threads = 8
# 行ロックが解除されるまでinnodbトランザクションが待機する時間(sec)
innodb_lock_wait_timeout = 5
# 自動インクリメント生成時のロックモード
# - 0:従来, 1:連続, 2:インターリーブ(不連続)
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 0
# innodbデータ/ログファイルにデータをフラッシュする際に使用される方法
innodb_flush_method = O_DIRECT

# InnoDBのデータ領域をテーブルごとにする
# - https://bit.ly/3h1Z0rp
innodb_file_per_table
# ファイルフォーマット指定
# エラーログにデッドロック情報を追加
innodb_print_all_deadlocks

## [mysqld-5.6] or [mysqld-5.7]
loose_performance_schema = OFF
loose_explicit_defaults_for_timestamp
loose_table_open_cache_instances = 8

## slow query log
loose_log_queries_not_using_indexes
loose_log_throttle_queries_not_using_indexes = 10

## innodb
loose_innodb_buffer_pool_dump_at_shutdown = 1
loose_innodb_buffer_pool_load_at_startup = 1
loose_innodb_monitor_enable = all

performance_schema = OFF
